.autotools
.cproject
.project
.settings/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing

*~
*.a
*.swp
*.Po
*.o
*#

src/jacklab/jacklab
src/jacklua/tintamp_jacklua
tests/fuzztest
tests/sampletest
tests/analysetest
tests/biquadtest
tests/siggentest
tests/waveshapertest
tests/tubestagetest
tests/cabsimtest
tests/tintamptest
