.autotools
.cproject
.project
.settings/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
test-driver

.dirstamp
*~
*.a
*.d
*.swp
*.Po
*.o
*#

src/consoledemo
src/fibredemo

tests/*test
tests/*test.log
tests/*test.trs
test-suite.log

wavreadertest.wav
wavwritertest.wav
html
update_docs.sh
